.banner {
  width: 95%;
  height: 380px;
  max-width: 95%;
  max-height: 380px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px 0 5px 5px;
  box-shadow: -9px 9px 1px rgb(211, 211, 211);
  margin-bottom: 22px;
  background-image: url("../img/banner_lady.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-description {
  padding: 41px;
}

.section-description__headline {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.section-description__description {
  min-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 19px;
  letter-spacing: 1.1px;
}

.section-description__description_margin-bottom {
  margin-bottom: 25px;
}

.section-description__description_margin-bottom-second {
  margin-bottom: 13px;
}

.section-description_border-top {
  width: 95%;
  margin: 0 auto;
  padding: 51px 0 0;
  border-top: 1px solid rgb(206, 206, 206);
}

.products {
  text-align: center;
  max-width: 456px;
  margin: 0 auto 39px;
}

.button {
  position: relative;
}

.button__tripleline {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  left: 2.5%;
  width: 41.75%;
  min-height: 37px;
  background-image: url("../img/line2.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.button__tripleline_right-line {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  left: 56%;
}

.button__description-button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(237, 50, 55);
  box-shadow: -3.5px 3.5px 0px 0px rgba(0, 0, 0, 0.12);
  min-height: 37px;
  padding: 9px 13px;
  border: none;
  font-size: 16px;
  font-family: "Source Sans Pro";
  color: rgb(235, 235, 235);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  cursor: pointer;
}

/* .button__description-button:before {
  width: 400px;
  content: '';
  display: block;
  position: relative;
  right: 400px;
  background-image: url("../img/banner_lady.jpg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  height: 37px;
} */

.button-tripleline_margin-bottom {
  margin-bottom: 16px;
}

.button__description-button_red-headline {
  color: rgb(237, 50, 55);
  background-color: rgb(235, 235, 235);
  box-shadow: none;
  margin: 0 auto 17px;
}

.button__description-button_default-background {
  display: inline-block;
  color: rgb(55, 52, 53);
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(206, 206, 206);
  margin: 5px 3px 3px;
  padding: 9px 15px;
}

.button__description-button_max-width {
  max-width: 119px;
}

.button__description-button_min-width {
  min-width: 119px;
}

@media screen and (max-width: 1050px) {
  .button__tripleline {
    width: 40%;
  }

  .button__tripleline_right-line {
    left: 57.5%;
  }
}

@media screen and (max-width: 980px) {
  .section-description__description {
    min-width: 600px;
  }
}

@media screen and (max-width: 850px) {
  .button__tripleline {
    width: 38%;
  }

  .button__tripleline_right-line {
    left: 59.5%;
  }
}

@media screen and (max-width: 768px) {
  .section-description__description {
    min-width: 400px;
  }
}

@media screen and (max-width: 650px) {
  .button__tripleline {
    width: 36%;
  }

  .button__tripleline_right-line {
    left: 61.5%;
  }
}

@media screen and (max-width: 550px) {
  .button__tripleline {
    width: 34%;
  }

  .button__tripleline_right-line {
    left: 63.5%;
  }
}


@media screen and (max-width: 450px) {
  .section-description__description {
    min-width: 300px;
  }

  .button__tripleline {
    width: 32%;
  }

  .button__tripleline_right-line {
    left: 65.5%;
  }
}

@media screen and (max-width: 420px) {
  /* .banner {
    background-position: center center;
    background-size: 256%;
  } */

  .button__tripleline {
    width: 28%;
  }

  .button__tripleline_right-line {
    left: 69.5%;
  }
}

@media screen and (max-width: 360px) {
  .section-description__description {
    min-width: 250px;
  }

  .button__tripleline {
    width: 25%;
  }

  .button__tripleline_right-line {
    left: 72.5%;
  }
}
