.banner {
  position: relative;
  width: 95%;
  min-height: 380px;
  max-width: 95%;
  max-height: 380px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px 0 5px 5px;
  box-shadow: -9px 9px 1px rgb(211, 211, 211);
  margin-bottom: 22px;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid rgb(209, 209, 209);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.banner__image {
  width: 100%;
  min-height: 380px;
  object-fit: cover;
}

.section-description {
  padding: 41px;
}

.section-description__headline {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.section-description__description {
  min-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 19px;
  letter-spacing: 1.1px;
}

.section-description__description_margin-bottom {
  margin-bottom: 25px;
}

.section-description__description_margin-bottom-second {
  margin-bottom: 13px;
}

.section-description_border-top {
  width: 95%;
  margin: 0 auto;
  padding: 51px 0 0;
  border-top: 1px solid rgb(206, 206, 206);
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0 auto 39px;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.button__description-button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(237, 50, 55);
  box-shadow: -3.5px 3.5px 0px 0px rgba(0, 0, 0, 0.12);
  min-height: 37px;
  padding: 9px 13px;
  border: none;
  font-size: 16px;
  font-family: "Source Sans Pro";
  color: rgb(235, 235, 235);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.button__description-button:hover {
  color: rgb(237, 50, 55);
  background-color: rgb(235, 235, 235);
  /* outline: 1px solid rgb(206, 206, 206); */
  box-shadow: -3.5px 3.5px 1px 1px rgba(0, 0, 0, 0.12);
}

.button__description-button:before {
  content: "";
  display: inline-block;
  width: 41.75%;
  height: 37px;
  position: absolute;
  top: 50%;
  left: 2.5%;
  transform: translateY(-50%);
  background-image: url("../img/line2.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center;
  cursor: default;
}

.button__description-button:after {
  content: "";
  display: inline-block;
  width: 41.75%;
  height: 37px;
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateY(-50%);
  background-image: url("../img/line2.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center;
  cursor: default;
}

.button-tripleline_margin-bottom {
  margin-bottom: 16px;
}

.button-tripleline_margin-bottom-second {
  margin-bottom: 15px;
}

.button__description-button_red-headline {
  color: rgb(237, 50, 55);
  background-color: rgb(235, 235, 235);
  box-shadow: none;
  margin: 0 auto 17px;
}

.button__description-button_red-headline:before {
  display: none;
}

.button__description-button_red-headline:after {
  display: none;
}

.button__description-button_default-background {
  display: inline-block;
  color: rgb(55, 52, 53);
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(206, 206, 206);
  margin: 5px 3px 3px;
  padding: 9px 15px;
}

.button__description-button_default-background:before {
  display: none;
}

.button__description-button_default-background:after {
  display: none;
}

.button__description-button_max-width {
  max-width: 119px;
}

.button__description-button_min-width {
  min-width: 119px;
}

.expand__input {
  display: none;
  visibility: hidden;
}

.expandable-panel__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  transition: height 0.5s;
  background: url(http://placekitten.com/g/600/300);
  color: rgb(236, 236, 236);
}

.expandable-panel__content_first-background {
  background: url("../img/save_doggy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.expandable-panel__content_second-background {
  background: url(http://placekitten.com/g/600/300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(237, 50, 55);
}

#toggle__first-part:checked ~ .expandable-panel__content {
  height: 400px;
}

#toggle__second-part:checked ~ .expandable-panel__content {
  height: 400px;
}

@media screen and (max-width: 1050px) {
  .button__description-button:after,
  .button__description-button:before {
    width: 40%;
  }
}

@media screen and (max-width: 980px) {
  .banner {
    box-shadow: none;
    border: 1px solid rgb(206, 206, 206);
  }

  .section-description__description {
    min-width: 600px;
  }
}

@media screen and (max-width: 850px) {
  .button__description-button:after,
  .button__description-button:before {
    width: 38%;
  }
}

@media screen and (max-width: 768px) {
  .section-description__description {
    min-width: 400px;
  }
}

@media screen and (max-width: 650px) {
  .button__description-button:after,
  .button__description-button:before {
    width: 36%;
  }
}

@media screen and (max-width: 550px) {
  .button__description-button:after,
  .button__description-button:before {
    width: 34%;
  }
}

@media screen and (max-width: 450px) {
  .section-description__description {
    min-width: 300px;
  }

  .button__description-button:after,
  .button__description-button:before {
    width: 32%;
  }
}

@media screen and (max-width: 420px) {
  .section-description {
    padding: 41px 10px;
  }

  .button__description-button:after,
  .button__description-button:before {
    width: 28%;
  }
}

@media screen and (max-width: 360px) {
  .section-description__description {
    min-width: 250px;
  }

  .button__description-button:after,
  .button__description-button:before {
    width: 25%;
  }
}
